[*.cs]

# CS1591: Отсутствует комментарий XML для открытого видимого типа или члена
dotnet_diagnostic.CS1591.severity = none

# IDE0040: Добавить модификаторы доступа
dotnet_diagnostic.IDE0040.severity = none
